* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  margin-left: 45vw;
  margin-top: 3vh;
  width: 100vw;
}

.game-info {
  margin-left: 20px;
}

.header {
  display: inline-block;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw
}

.header h1 {
  display: inline;
}


.header button {
  float: right;
}

.root {
  margin-left: 20vw;
}

.leaderboard {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard table {
  margin-top: 3vh;
}

.leaderboard td {
  padding-inline: 10px;
}